//Basic styling
$fontColor: #686868;
$focusColor: #484848;
$backgroundColor:lightgrey;
$headingColor:dimgrey;

$divSize:100px;
$viewSize:500px;
$marginSize:10px;
$fontSize:20px;
$lineHeight:20px;

$hNumber:1;
$hMaxPlus1:5;

//GRID Def.
$colNum:12; //number of columns
$basicGrid:100%/$colNum;


